In [1]:
import json 
import requests
import pandas as pd
import numpy as np

In [7]:
url = 'https://raw.githubusercontent.com/hjorturlarsen/IMDB-top-100/master/data/movies.json'
top = pd.read_json(url)

top[['id', 'rank', 'title']].rename(columns = {
    'rank': 'Rank',
    'title': 'Movie Title'
})

           id  Rank                         Movie Title
0   tt0111161     1            The Shawshank Redemption
1   tt0068646     2                       The Godfather
2   tt0071562     3              The Godfather: Part II
3   tt0110912     4                        Pulp Fiction
4   tt0060196     5      The Good, the Bad and the Ugly
..        ...   ...                                 ...
95  tt0051201    96         Witness for the Prosecution
96  tt0070735    97                           The Sting
97  tt0053604    98                       The Apartment
98  tt0095327    99              Grave of the Fireflies
99  tt0097576   100  Indiana Jones and the Last Crusade

[100 rows x 3 columns]